<div class="row">
  <div class="col-md-4">
    <pm-product-list
      [errorMessage]="errorMessage$ | async"
      [displayCode]="displayCode$ | async"
      [products]="products$ | async"
      [selectedProduct]="selectedProduct$ | async"
      (displayCodeChanged)="checkChanged()"
      (initializeNewProduct)="newProduct()"
      (productWasSelected)="productSelected($any($event))"
    ></pm-product-list>
  </div>
  <div class="col-md-8">
    <pm-product-edit></pm-product-edit>
  </div>
</div>
