<div class="row">
  <div class="col-md-4">
    <app-product-list
      [displayCode]="displayCode$ | async"
      [products]="products$ | async"
      [selectedProduct]="selectedProduct$ | async"
      [errorMessage]="errorMessage$ | async"
      (displayCodeChanged)="checkChanged()"
      (initializeNewProduct)="newProduct()"
      (productWasSelected)="productSelected($any($event))"
    ></app-product-list>
  </div>
  <div class="col-md-8">
    <app-product-edit
      [selectedProduct]="selectedProduct$ | async"
      [errorMessage]="errorMessage$ | async"
      (clearCurrent)="clearProduct()"
      (update)="updateProduct($any($event))"
      (delete)="deleteProduct($any($event))"
      (create)="saveProduct($any($event))"
    ></app-product-edit>
  </div>
</div>
