<div class="card">
  <div class="card-header">
    Product Category
    <span class="col-md-2 text-right">
      <button class="btn btn-primary" (click)="newProductCategory()">
        Add
      </button>
    </span>
  </div>
  <div class="card-header">
    <div class="row">
      <div class="form-check displayCode row">
        <label for="displayCode" class="col-md-10">
          <input
            type="checkbox"
            class="form-check-input"
            (change)="checkChanged()"
            [checked]="displayCode"
          />
          Display Code
        </label>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="productCategories">
    <div class="list-group">
      <button
        class="list-group-item list-group-item-action"
        *ngFor="let productCategory of productCategories"
        [ngClass]="{
          'background-red': productCategory?.id === selectedProductCategory?.id
        }"
        (click)="productCategorySelected(productCategory)"
      >
        {{ productCategory.name }}
        <ng-container *ngIf="displayCode"> (code) </ng-container>
      </button>
      <p *ngIf="!productCategories">No Product Category Found</p>
    </div>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
