<div class="grid-container">
  <mat-grid-list cols="{{ (cardLayout | async)?.columns }}" rowHeight="200px">
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.chart.cols"
      [rowspan]="(cardLayout | async)?.chart.rows"
    >
      <app-app-card title="Monthly Revenue">
        <app-annual-sale-chart></app-annual-sale-chart>
      </app-app-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.chart.cols"
      [rowspan]="(cardLayout | async)?.chart.rows"
    >
      <app-app-card title="Product Sales">
        <!-- <app-product-sales-chart></app-product-sales-chart> -->
        test
      </app-app-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.chart.cols"
      [rowspan]="(cardLayout | async)?.chart.rows"
    >
      <app-app-card title="Sales by Traffic Source">
        <!-- <app-sales-traffic-chart></app-sales-traffic-chart> -->
        test
      </app-app-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.chart.cols"
      [rowspan]="(cardLayout | async)?.chart.rows"
    >
      <app-app-card title="Online Store Sessions by Traffic Source">
        <!-- <app-store-sessions-chart></app-store-sessions-chart> -->
        test
      </app-app-card>
    </mat-grid-tile>
    <!--Table-->
    <mat-grid-tile
      [colspan]="(cardLayout | async)?.table.cols"
      [rowspan]="(cardLayout | async)?.table.rows"
    >
      <app-app-card title="Latest Orders">
        test
        <!-- <app-orders-table></app-orders-table> -->
      </app-app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
