<div
  *ngFor="let field of fields | sort: 'priority'; let i = index"
  [ngClass]="
    !isValidDependency(field)
      ? { 'd-none': true, center: field.verticalBaseLine }
      : {
          'd-inline-block': isInline(field),
          'd-block w-100': !field.inline,
          center: field.verticalBaseline
        }
  "
  class="wrapper {{ field.infoType }}"
>
  <!-- grouping fields  -->
  <div
    *ngIf="field.groupingKey && !field.previousGroupingProperty"
    class="grouped-fields card {{ field.groupingKey }}-group"
    [ngClass]="{ 'mb-2': field.groupingKey }"
  >
    <div class="card-header">
      <h6 *ngIf="field.groupingKey" class="m-0">
        {{ splitCamelCase(field.groupingKey) }}
      </h6>
    </div>

    <div class="card-body">
      <!-- grouped elements -->
      <span
        *ngFor="let item of fields | filter: { groupingKey: field.groupingKey }"
        class="field"
      >
        <ng-container
          *ngTemplateOutlet="renderField; context: { $implicit: item }"
        ></ng-container>
      </span>
    </div>
  </div>

  <!-- single field -->
  <span *ngIf="!field.groupingKey" class="single-field">
    <ng-container
      *ngTemplateOutlet="renderField; context: { $implicit: field }"
    ></ng-container>
  </span>

  <ng-template #renderField let-field>
    <span [ngSwitch]="field.infoType" [hidden]="field.hidden">
      <app-radio-field
        *ngSwitchCase="'radio'"
        [field]="field"
        [(value)]="data[field.fieldName]"
        [required]="isMandatory(field)"
        [disabled]="isDisabled(field)"
        (valueChange)="trigger('change', field)"
      >
      </app-radio-field>
      <app-input-field
        *ngSwitchCase="'input'"
        [field]="field"
        [(value)]="data[field.fieldName]"
        [required]="isMandatory(field)"
        [disabled]="isDisabled(field)"
        (valueChange)="trigger('change', field)"
      >
      </app-input-field>
    </span>
  </ng-template>
</div>
