<div class="row">
  <div class="col-md-4">
    <pm-product-category-list
      [displayCode]="showProductCategoryCode$ | async"
      [productCategories]="productCategories$ | async"
      [errorMessage]="errorMessage$ | async"
      (displayCodeChanged)="checkChanged()"
    >
    </pm-product-category-list>
  </div>
  <!-- <div class="col-md-8">
    <pm-product-edit
      [selectedProduct]="selectedProduct$ | async"
      [errorMessage]="errorMessage$ | async"
      (clearCurrent)="clearProduct()"
      (update)="updateProduct($any($event))"
      (delete)="deleteProduct($any($event))"
      (create)="saveProduct($any($event))"
    ></pm-product-edit>
  </div> -->
</div>
