<div class="form-group">
  <div class="col-md-10 col-md-offset-2">
    <span>
      <button
        class="btn btn-primary"
        type="submit"
        style="width: 80px; margin-right: 10px"
        (click)="saveClicked.emit()"
        [disabled]="!form?.valid || !form?.dirty"
      >
        Save
      </button>
    </span>
    <span>
      <button
        class="btn btn-light"
        type="button"
        (click)="cancelClicked.emit()"
        style="width: 80px; margin-right: 10px"
      >
        Cancel
      </button>
    </span>
    <span>
      <button
        class="btn btn-light"
        type="button"
        style="width: 80px"
        (click)="deleteClicked.emit()"
      >
        <!-- (click)="deleteProduct()" -->

        Delete
      </button>
    </span>
  </div>
</div>
