<form
  name="createOrderForm"
  id="createOrderForm"
  #ngForm="ngForm"
  (ngSubmit)="ngForm.valid && onSubmit()">
  <div class="row">
    <div class="col-3">
      <div class="btn-group d-flex" id="submit-button-group">
        <button type="submit" class="mt-3" class="btn btn-primary">SAVE</button>
        <button type="button" class="btn btn-danger">CANCEL</button>
      </div>
    </div>
  </div>

  <!-- <app-dynamic-form [fields]="form.fields" [data]="data"></app-dynamic-form> -->

  <div class="row mt-3">
    <div class="col-12">
      <app-address [data]="data"></app-address>
    </div>
  </div>
</form>
