$default-padding: 5px;

@mixin pad-right($n: $default-padding) {
  padding-right: $n;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
#createOrderForm {
  padding: 5px;
}
